body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*文本单行显示，超出省略点显示*/
.autocut {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
/*超过限定宽度就换行显示*/
.wordbreak{
  word-break: break-word;
  /*word-wrap: break-word;这两个的区别*/
}
/*设置a标签的hover*/
.nodecoration:hover{
  text-decoration:none;
}